@model GTI619_Lab5.Models.UpdateConfigModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
<div class="row">
    @using (Html.BeginForm("UpdateConfig", "Admin", FormMethod.Post))
    {
        @Html.LabelFor(m => m.NbrTry)
        @Html.TextBoxFor(m => m.NbrTry)
        
        <input type="submit" value="Soumettre"/>
    }
</div>
